*{
	margin:0;
	padding:0;
}

body{
	background-color: #FFFFFF;
	overflow-x: hidden;
}

header {
  background: #CEBA8A;
  height: 90px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.menu{
	font-family:Mermaid;
	font-size: 1.4em;
	color: #0886C4;
	float: right;
	margin-top: -80px;
} 

/*INICIO DE BARRA DE MENU*/

div #barra_menu{
	float: left;
} 

div a:hover{
	background: #D6A941;
}

/*Primer nivel menu*/

div ul{
  list-style: none;
  overflow: hidden; 
}

div>ul>li{
	float: left;
}

div ul li a {
  display: block; 
  padding: 20px;
  color: #F9F3B7;
  text-decoration: none;
}

div>ul>li:hover ul{
	display: block;
	background: #D6A941;
}

/* Segundo nivel*/

div>ul>li>ul{
	position: absolute;
	display: none;
}

div>ul>li>ul>li{
	background-color: #D6A941;
}

/*FIN DE BARRA DE MENU*/

h1{
	font-family:Mermaid;
	font-size: 2em;
	color: #F9F3B7;
	margin: 26px;
}

h2{
	text-align: center;
	font-family:Mermaid;
	color: #AA853B;
	font-size: 3.5em;
	padding-top: 50px;
}

h3{
	text-align: center;
	font-family:Mermaid;
	color: #D6A941;
	font-size: 2em;
	padding-bottom: 50px;
}

h4{
	text-align: left;
	font-family:Mermaid;
	color: #D6A941;
	font-size: 2em;
}

p{
	font-family:Pinkerston;
	color: #AA853B;
	font-size: 1em;
}

#recordatorio{
	color: #AA853B;
	font-size: 1em;
	padding-left: 50px;
}

/*inicio footer*/

footer{
	text-align: center;
	font-family:Pinkerston;
	color: #AA853B;
}