*{
	margin:0;
	padding:0;
}

body{
	background-color: #FFFFFF;
	overflow-x: hidden;
}

header {
  background: #CEBA8A;
  height: 90px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.menu{
	font-family:Mermaid;
	font-size: 1.4em;
	color: #0886C4;
	float: right;
	margin-top: -80px;
} 

/*INICIO DE BARRA DE MENU*/

div #barra_menu{
	float: left;
} 

div a:hover{
	background: #D6A941;
}

/*Primer nivel menu*/

div ul{
  list-style: none;
  overflow: hidden; 
}

div>ul>li{
	float: left;
}

div ul li a {
  display: block; 
  padding: 20px;
  color: #F9F3B7;
  text-decoration: none;
}

div>ul>li:hover ul{
	display: block;
	background: #D6A941;
}

/* Segundo nivel*/

div>ul>li>ul{
	position: absolute;
	display: none;
}

div>ul>li>ul>li{
	background-color: #D6A941;
}

/*FIN DE BARRA DE MENU*/

h1{
	font-family: Mermaid;
	font-size: 2em;
	color: #F9F3B7;
	margin: 26px;
}
/*inicio footer*/

#img_grande{
	padding-left: 896px;
	margin-top: -371px;
	overflow: hidden;
	display: block;
	margin-bottom: -6px;
    position: unset;
}

#img_grande img{
	width: 627px;
	height: 480px;
	border-radius: 260px 0px 0px 260px;
	position: unset;
}

table{
	margin-top: 0px auto;
	width: 45px;
	background-color: ;
	position: unset;
	background-color: #BFCBE5;
	margin-left: 0px;
}

td{
	text-align: left;
	padding-left: 1px;	
	border-radius: 15px 50px 30px 5px;
	background-color: #BFCBE5;
	margin-bottom: -2px;
}

#p_banner{
	font-family:LaFogle;
	color: #0886C4;
	font-size: 1.8em;
	text-align: left;
	margin-left: 100px;
	border-top-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
}

#descripcion_banner{
	width: 55%;
}

h2{
	font-family:Mermaid;
	font-size: 4em;
	color: #0886C4;
	text-align: left;
	margin-left: 100px;
}

h3{
	font-family:Molex Shoora;
	color: #AA853B;
	font-size: 2.5em;
	text-align: center;
	margin-top: 16px;
}

h4{
	text-align: center;
	font-family:LaFogle;
	color: #AA853B;
	font-size: 1em;
}

h5{
	font-family:Mermaid;
	text-align: left;
	font-size: 6em;
	color: #0886C4;
	text-align: left;
	margin-left: 100px;
}

p{
	text-align: center;
	font-family:LaFogle;
	color: #AA853B;
	font-size: 1em;
}

.mas{
	text-align: center;
	background-color:  #D6A941;
	height: 21px;
	opacity: 73%;
	border-radius: 8px;
	font-family:Mermaid;
	color: #FFF;
}

a, a:hover{
	color: #F9F3B7;
}

section{
	margin: 0 auto;
	width: 70%;
	overflow: hidden;
	position: relative;
}

section article{
	font-size: 0.9rem;
	height: 340px;
	padding: 1%;
	box-sizing: border-box;
}

section article img{
	height: 180px;
	max-width: 80%;
	margin: 3px auto;
	display: block;
	border-radius: 12px;
}

article{
	margin: 13px;
	width: 22%;
	float: left;
}

footer{
	text-align: center;
	font-family:LaFogle;
	color: #AA853B;
	padding-top: 20 px;
	padding-bottom: 20px;
}