*{
	margin:0;
	padding:0;
}

body{
	background-color: #FFFFFF;
	overflow-x: hidden;
}

header {
  background: #CEBA8A;
  height: 90px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.menu{
	font-family:Mermaid;
	font-size: 1.4em;
	color: #0886C4;
	float: right;
	margin-top: -80px;
} 

/*INICIO DE BARRA DE MENU*/

div #barra_menu{
	float: left;
} 

div a:hover{
	background: #D6A941;
}

/*Primer nivel menu*/

div ul{
  list-style: none;
  overflow: hidden; 
}

div>ul>li{
	float: left;
}

div ul li a {
  display: block; 
  padding: 20px;
  color: #F9F3B7;
  text-decoration: none;
}

div>ul>li:hover ul{
	display: block;
	background: #D6A941;
}

/* Segundo nivel*/

div>ul>li>ul{
	position: absolute;
	display: none;
}

div>ul>li>ul>li{
	background-color: #D6A941;
}

/*FIN DE BARRA DE MENU*/

h1{
	font-family:Mermaid;
	font-size: 2em;
	color: #F9F3B7;
	margin: 26px;
}

h2{
	text-align: center;
	font-family:Mermaid;
	color: #AA853B;
	font-size: 3.5em;
	padding-top: 50px;
}

h3{
	text-align: center;
	font-family:Mermaid;
	color: #D6A941;
	font-size: 2em;
	padding-bottom: 50px;
}

h4{
	text-align: left;
	font-family:Mermaid;
	color: #D6A941;
	font-size: 2em;
	padding-top: 110px;
	padding-left: 45px;
}

p{
	font-family:LaFogle;
	color: #AA853B;
	font-size: 1em;
}

#medio{
	padding: 20px;
	display: flex;
}

#izquierda{
	color: #AA853B;
	font-size: 1em;
	padding-top: 90px;
	padding-left: 45px;
	width: 45%;
}

#izquierda p{
	padding-top: 40px;
	padding-left: 45px;
	font-family:LaFogle;
	color: #D6A941;
	font-size: 1.4em;
	width: 50%;
	text-align: justify;
}

#derecha{
	margin-top: 10px;
	width: 45%;
	background-color: #BFCBE5;
	border-radius: 10%;
	padding: 10px;
}

#derecha h1 {
    text-align: center;
    color: #0886C4;
}

.form-group {
    margin: 20px;
    width: 95%;
}

label {
		margin-left: 20px;
    display: block;
    font-weight: bold;
    color: #0886C4;
    font-family: LaFogle;
    width: 95%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #0886C4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: -10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.footer-container {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#redes {
    text-align: center;
}

#redes td {
    padding: 10px;
}

#redes img {
    vertical-align: middle;
    margin-right: 10px;
}

/*inicio footer*/

footer{
	text-align: center;
	font-family:Pinkerston;
	color: #AA853B;
	padding-top: 20 px;
	padding-bottom: 20px;
}