*{
	margin:0;
	padding:0;
}

body{
	background-color: #FFFFFF;
	overflow-x: hidden;
}

header {
  background: #CEBA8A;
  height: 90px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.menu{
	font-family:Mermaid;
	font-size: 1.4em;
	color: #0886C4;
	float: right;
	margin-top: -80px;
} 

/*INICIO DE BARRA DE MENU*/

div #barra_menu{
	float: left;
} 

div a:hover{
	background: #D6A941;
}

/*Primer nivel menu*/

div ul{
  list-style: none;
  overflow: hidden; 
}

div>ul>li{
	float: left;
}

div ul li a {
  display: block; 
  padding: 20px;
  color: #F9F3B7;
  text-decoration: none;
}

div>ul>li:hover ul{
	display: block;
	background: #D6A941;
}

/* Segundo nivel*/

div>ul>li>ul{
	position: absolute;
	display: none;
}

div>ul>li>ul>li{
	background-color: #D6A941;
}

/*FIN DE BARRA DE MENU*/
/*la barra me falta configurarla, todo lo que es barra menu, no le hagas caso*/

#img_grande
{
	padding-left: 920px;
	margin-top: -70px;
	overflow: hidden;
	color: #F9F3B7;
	float: right;
	margin-top: -60px;
	padding-left: -60px;
} 

a, a:hover{
	color: #F9F3B7;
}

#img_grande{
	padding-left: 920px;
	margin-top: -83px;
	overflow: hidden;
	display: block;
}

.banner{
	color: #0886C4;
	height: 481px;
	background-color: #BFCBE5;
	border-radius: 30px;
	margin-bottom: 30px;
	padding-left: 20px;
	width: 920px;
}

#contenido_coleccion{

}

p{
	font-family:Pinkerston;
	color: #black;
	font-size: 1em;
}

p1{
	font-family:Pinkerston;
	color: #0886C4;
	font-size: 1em;
}

h1{
	font-family:Mermaid;
	font-size: 2em;
	color: #F9F3B7;
	margin: 26px;
}

h2{
	font-family:Mermaid;
	font-size: 3em;
}

h3{
	font-family:Molex Shoora;
	color: #AA853B;
	font-size: 2em;
	text-align: center;
}

h4{
	font-family:Pinkerston;
	color: #AA853B;
	font-size: 1em;
}

/*Al footer le pueden agregar más cosas, yo solo lo puse en medio y como lo de marca registrada pero agreguenle lo que ustedes consideren*/

footer{
	text-align: center;
	font-family:Pinkerston;
	color: #AA853B;
}