*{
	margin:0;
	padding:0;
}

body{
	background-color: #FFFFFF;
	overflow-x: hidden;
}

header {
  background: #CEBA8A;
  height: 90px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.menu{
	font-family:Mermaid;
	font-size: 1.4em;
	color: #0886C4;
	float: right;
	margin-top: -80px;
} 

/*INICIO DE BARRA DE MENU*/

div #barra_menu{
	float: left;
} 

div a:hover{
	background: #D6A941;
}

/*Primer nivel menu*/

div ul{
  list-style: none;
  overflow: hidden; 
}

div>ul>li{
	float: left;
}

div ul li a {
  display: block; 
  padding: 20px;
  color: #F9F3B7;
  text-decoration: none;
}

div>ul>li:hover ul{
	display: block;
	background: #D6A941;
}

/* Segundo nivel*/

div>ul>li>ul{
	position: absolute;
	display: none;
}

div>ul>li>ul>li{
	background-color: #D6A941;
}

h1{
	font-family:Mermaid;
	font-size: 2em;
	color: #F9F3B7;
	margin: 26px;
}

/*FIN DE BARRA DE MENU*/

#banner_productos{
	width: 100%;
	padding: 0px;
	margin: 0px;
	block-size: 100%;
	position: relative;
}

h2{
	text-align: left;
	font-family:Mermaid;
	color: #AA853B;
	font-size: 6em;
	padding-bottom: 10px;
	padding-left: 40px;
	background-color: transparent;
	position: absolute;
	bottom: 0;
}

#banner_productos img{
	width: 100%;
	height: 519px;
	padding: 0px;
	margin: 0px;
}

h3{
	text-align: center;
	font-family:Molex Shoora;
	color: #AA853B;
	font-size: 2.5em;
	padding: 13px;
}

p{
	text-align: center;
	font-family:Pinkerston;
	color: #AA853B;
	font-size: 1em;
}

section{
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	position: relative;
}

section article{
	font-size: 0.9rem;
	height: 340px;
	padding: 1%;
	box-sizing: border-box;
}

section article img{
	height: 180px;
	max-width: 80%;
	margin: 3px auto;
	display: block;
	border-radius: 12px;
}

article{
	margin: 13px;
	width: 18%;
	float: left;
}

/*inicio footer*/

footer{
	text-align: center;
	font-family:Pinkerston;
	color: #AA853B;
	padding-top: 50px;
	padding-bottom: 50px;
}